{% set count = my_super_count_value|int %}

SET @salt = UNHEX(SHA2(UUID(), 256));
INSERT INTO guacamole_user (full_name, password_salt, password_hash, password_date) 
SELECT
  'test' AS full_name,
  @salt 				                                       AS password_salt,
  UNHEX(SHA2(CONCAT('testpass', HEX(@salt)), 256)) 	   AS password_hash,
  NOW()                                                 AS password_date
;